.bt-warn{
    position: relative;
    padding: 16px 16px;
    /* margin-bottom: 6%; */
    font-size: 15px;
    line-height: 1.5;
    border-radius: 8px 0px 8px 0px;
    
    color:#ffffff;
    background-color: #000718;
    border: 0;
    transition: 0.2s;
    overflow: hidden; 

    



 
  }

  .upload{
    /* padding: 0px 30px; */
    margin-bottom: 25px;
    border-radius: 25px;
    box-shadow: inset 8px 8px 8px #cbced1, inset -8px -8px 8px #ffffff;
  }
  
  .bt-warn input[type = "file"]{
    cursor: pointer;
    position: absolute;
    left: 0%;
    top: 0%;
    transform: scale(3);
    opacity: 0;
  }
  
  .btn-warning:hover{
    background-color: #010100;
  }

  *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
body{
    background: #000718;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: none;
    
}
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: #555;
  transition: background-color 5000s ease-in-out 0s;
}

#section_wrapper{
    width: 150%;
    height: 200vh;
    padding: 35px;
    padding-left: 30%;

}


.form_box{
    float: center;
    padding:40px 35px 35px 35px;
    border-radius: 30px 30px 30px 30px;
    background: #ededed;
}


.form_title{
    text-align: center;
    margin: 0;
    font-size: 28px;
    letter-spacing: 0.5px;
}

.form_fields{
    width: 100%;
    padding: 30px 5px 5px 5px;
}
.dropdown{
    width: 100%;
    padding: 5px 5px 5px 5px;
    padding: 0px 30px;
    margin-bottom: 25px;
    border-radius: 25px;
    box-shadow: inset 8px 8px 8px #cbced1, inset -8px -8px 8px #ffffff;
}
.form_fields input{
    border: none;
    outline:none;
    background: none;
    font-size: 18px;
    color:#555;
    padding: 20px 10px 20px 5px;
    width:100%
}

.dropdown select,option{
    border: none;
    outline:none;
    background: none;
    font-size: 18px;
    color:#555;
    padding: 20px 10px 20px 5px;
    width:100%

}


.form_group{
    padding: 0px 30px;
    margin-bottom: 25px;
    border-radius: 25px;
    box-shadow: inset 8px 8px 8px #cbced1, inset -8px -8px 8px #ffffff;
}



.submit_button{
    width: 100%;
    height: 60px;
    border-radius: 30px;
    font-size: 20px;;
    font-weight: 700;
    outline: none;
    border:none;
    cursor: pointer;
    color:#fff;
    text-align: center;
    background: #1a1818;
    box-shadow: 3px 3px 8px #b1b1b1, -3px -3px 8px #ffffff;
    transition: .5s;
}
.submit_button:hover{
    background: #2a2b2b;

}
.submit_button:active{
    background: #0b63da;
}
.signin_here{
    text-align: center;
    font-size: 15px;
    padding:10px;
    margin-top: 7px;
}
.signin-here a{
    text-decoration: none;
}
.signin-here a:hover{
    color: rgb(0, 0, 0);
}
.col{
    padding-left: 30px;
}




/* Responsive css */

@media only screen and (max-width: 767px){
   
    
    .form_box{
        width: 100%;
        height: initial;
        border-radius: 30px;
    }
    
}

